<!DOCTYPE html>
<html>

<head>



    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,600,700&amp;lang=en">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="knjige-preporucene.component.css">



</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <div class="navbar-brand" href="#">
                <ul class=navbar-nav ml-auto>

                    <li>
                        <div class="nav-item" id="title">Perce</div>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/kupac'>Pocetna strana</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink='/knjige-preporucene'>Preporucene knjige</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/profil'>Moj profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click) = 'odjava()' routerLink = '/login' >Odjavi se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="home">
        PREPORUCENE KNJIGE
    </div>
    <div class="container" style ="background-color: rgba(56, 31, 19, 0.849);">
        <div class="row justify-content-left" >
            <div *ngFor="let k of PreporuceneKnjige; let i = index">
                <div class="card" (click) = detaljnoKnjiga(k)>
                    <div class="card-body">
                        <img src = {{k.slika}} class = "slika-knjige">
                    </div>
                    <div class="card-footer">
                        {{k.naziv}} - {{k.autor}}
                        <br>
                        <label>Preporucio: {{Preporucili[i]}}</label> 
                    </div>
               </div>
            </div>
        </div>
    </div>
</body>

</html>